{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <title>Muhammad Azmi</title>
</head>

<body>

    <h1>Hello!</br>I'm Azmi</h1>
    <h3>UI/UX Designer & Junior Developer</h3>
    <button id="b" onclick="window.location.href = '{% url 'portfolio' %}';">see more</button>

    <div class="panel ">
        <h2>I'm junior UI/UX Designer that loves to design user interface for mobile apps since 2018. A junior web developer & Android front-end developer.</h2>
        <div class="box"></div>
        <div class="row">
            <a href="https://www.instagram.com/azmi6298/" target="_blank"> <img src="{% static 'img/ig.png'%}" id="social1"></a>
            <a href="https://www.linkedin.com/in/azmi6298/" target="_blank"> <img src="{% static 'img/linkedin.png'%}" id="social2"></a>
            <a href="https://dribbble.com/azmi6298" target="_blank"> <img src="{% static 'img/dribble.png'%}" id="social3"></a>
            <a href="https://gitlab.com/azmi6298" target="_blank"> <img src="{% static 'img/git.png'%}" id="social4"></a>

        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script>
        TweenMax.to('.panel', 1.5, {
            scaleY: 1,
            height: '100vh',
            ease: Circ.easeOut
        });

        TweenMax.to('h2', 1.2, {
            opacity: 1,
            delay: 1.3,
            y: 20,
            ease: Expo.easeOut
        });

        TweenMax.to('.box',
            2.5, {
                opacity: 1,
                delay: 1.5,
                ease: Elastic.easeOut.config(1, 0.3)
            }
        );

        TweenMax.to('#social1', 1.5, {
            opacity: 1,
            y: 100,
            delay: 1,
            ease: Circ.easeOut
        });

        TweenMax.to('#social2', 1.7, {
            opacity: 1,
            y: 100,
            delay: 1.3,
            ease: Circ.easeOut
        });

        TweenMax.to('#social3', 1.9, {
            opacity: 1,
            y: 100,
            delay: 1.5,
            ease: Circ.easeOut
        });

        TweenMax.to('#social4', 2.1, {
            opacity: 1,
            y: 100,
            delay: 1.7,
            ease: Circ.easeOut
        });
    </script>
</body>

</html>