{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    <title>Azmi's Portfolio</title>
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6 text-center">
                <h1>UI/UX Design</h1>
                <a href="https://dribbble.com/shots/6475867-Spotify-Redefined" target="_blank"><img src="{% static 'img/spotify.png' %}" class="port ux "></a>
            </div>
            <div class="col-lg-6 text-center">
                <h1>Web Development</h1>
                <a href="https://webazmi1.herokuapp.com/" target="_blank"><img src="{% static 'img/web.png' %}" class="port web"></a>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 text-center">
                <a href="https://dribbble.com/shots/6809193-TIX-ID-Redesign" target="_blank"><img src="{% static 'img/tix.png' %}" class="port ux "></a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="{% url 'parallax' %}" target="_blank"><img src="{% static 'img/uniqlo.png' %}" class="port web"></a>
            </div>
        </div>

        <button class="hvr-sweep-to-top" onclick="window.location.href = '{% url 'home' %}';">back to home</button>

    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script>
        TweenMax.to('.port', 2, {
            opacity: 1,
            ease: Circ.easeOut
        });
    </script>

</body>

</html>