{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css/hover.css' %}">
    <script src="https://unpkg.com/scrollreveal"></script>

    <title>Azmi's Works</title>
</head>

<body>
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'img/acro.png' %}" alt=""></a>
    </nav>
    <div class="space2"></div>
    <div class="wrapper">
        <div class="header">
            <h1 class="animate1">UI/UX Design</h1>
            <p class="animate2">For the past few months, i have been worked on some UI design exploration. </br>Made on Adobe XD.</p>
            <a href="https://dribbble.com/azmi6298" target="_blank"><img src="{% static 'img/dribble.png' %}" class="animate3 logo"></a>
        </div>

        <div class="design">
            <a href="https://dribbble.com/shots/6475867-Spotify-Redefined" target="_blank"><img src="{% static 'img/spotify.png' %}" class="animate"></a>
            <p class="animate">Re-designed Spotify, a music streaming platform</p>
            <a href="https://dribbble.com/shots/6809193-TIX-ID-Redesign" target="_blank"><img src="{% static 'img/tix.png' %}" class="animate"></a>
            <p class="animate">Re-designed TIX ID,
                </br>a cinema ticket online booking</p>
        </div>
        <div class="space2"></div>
        <div class="header">
            <h1 class="animate1">Web Development</h1>
            <p class="animate2">Next, i have been developed some new web too. </br>Built on Django Framework.</br>Deployed into Heroku.</p>
            <a href="https://gitlab.com/azmi6298" target="_blank"><img src="{% static 'img/git.png' %}" class="animate3 logo"></a>
        </div>
        <div class="web">
            <a href="https://webazmi1.herokuapp.com/" target="_blank"><img src="{% static 'img/web.png' %}" class="animate"></a>
            <p class="animate">My simple project when i took a web programming course on BELING.ID</p>
            <a href="{% url 'parallax' %}" target="_blank"><img src="{% static 'img/uniqlo.png' %}" class="animate"></a>
            <p class="animate">Design exploration of UNIQLO</br>
                web version, still developing the mobile version
            </p>
        </div>
    </div>

    <footer>
        <p>Muhammad Azmi | azmi6298</p>
    </footer>

    <script type="text/javascript">
        ScrollReveal().reveal('.animate');
        ScrollReveal().reveal('.animate1', {
            delay: 200
        });
        ScrollReveal().reveal('.animate2', {
            delay: 500
        });
        ScrollReveal().reveal('.animate3', {
            delay: 700
        });
    </script>

</body>

</html>