{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/parallax.css' %}">
    <style type="text/css">
        body {
            background: url({% static 'img/cover.png'%}) no-repeat center center fixed;
            background-size: cover;
            overflow-x: hidden;
        }
    </style>
    <title>Azmi's Parallax Demo</title>
</head>

<body>
    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <img id="logo" src="{% static 'img/logo.png'%}">
            </div>
            <div class="row">
                <ul class="nav">
                    <a>
                        <li>Women</li>
                    </a>
                    <a>
                        <li>Men</li>
                    </a>
                    <a>
                        <li>Kids</li>
                    </a>
                    <a>
                        <li>Baby</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="whitespace"></div>

    <div class="container">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-3 img one">
                    <img src="{% static 'img/men.jpg' %}" class="ione">
                </div>

                <div class="col-lg-3 col-sm-3 txt text-1">
                    <h1>Men's Collection</h1>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-3 img two">
                    <img src="{% static 'img/women.jpg' %}" class="itwo">
                </div>

                <div class="col-lg-6 col-sm-3 txt text-2">
                    <h1>Women's Collection</h1>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-3 txt text-3">
                    <h1>New Arrival </br>This Month</h1>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6 col-sm-3 img three">
                    <img src="{% static 'img/ut.jpg' %}" class="ithree">
                </div>

                <div class="col-lg-6 col-sm-3 txt text-4">
                    <h1>UNIQLO </br>UT x KAWS</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="whitespace bottom"></div>

    <footer>
        <div class="row">
            <nav>
                <ul class="footer nav">
                    <a>
                        <li>Company</li>
                    </a>
                    <a>
                        <li>About Us</li>
                    </a>
                    <a>
                        <li>Store Location</li>
                    </a>
                    <a>
                        <li>Terms & Condition</li>
                    </a>
                    <a>
                        <li>Privacy & Policy</li>
                    </a>
                </ul>
            </nav>
        </div>
        <a href="{% url 'home' %}">
            <h2 class="sign">Azmi's Design Exploration</h2>
        </a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.0.2/dist/simpleParallax.min.js"></script>

    <script>
        var image = document.getElementsByClassName('ione');
        new simpleParallax(image, {
            overflow: true,
            orientation: 'right'
        });

        var image = document.getElementsByClassName('itwo');
        new simpleParallax(image, {
            overflow: true
        });

        var image = document.getElementsByClassName('ithree');
        new simpleParallax(image, {
            scale: 1.5
        });
    </script>
</body>

</html>