@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
body {
  font-family: 'Lexend Deca', sans-serif;
  padding: 9em;
  background-color: white;
}

h1 {
  font-size: 5em;
  width: 25%;
  color: red;
  font-weight: bold;
  line-height: 1em;
  color: black;
}

h3 {
  font-size: 1.5em;
  width: 30%;
}

button {
  background: none;
  border: 1px solid black;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  padding: .5em 1em;
  margin-top: 10px;
  cursor: pointer;
}

.panel {
  position: absolute;
  width: 55%;
  background: #0E0E0E;
  bottom: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10% 5%;
  height: 100vh;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.panel img {
  width: 150px;
  margin-right: 30px;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.panel h2 {
  font-size: 2em;
  width: 85%;
  opacity: 0;
  color: white;
}

.panel .box {
  border: 5px #f92a2a;
  width: 70%;
  height: 30%;
  position: absolute;
  left: -7%;
  top: 15%;
  z-index: -1;
  opacity: 0;
}

@media (max-width: 900px) {
  body {
    padding: 0em;
  }
  h1 {
    width: 60%;
    margin-left: 1em;
  }
  h3 {
    margin-left: 80px;
    width: 60%;
  }
  button {
    margin-left: 90px;
  }
  .panel {
    position: relative;
    width: 100%;
    padding: 3em;
    margin-top: 2em;
  }
  .panel img {
    width: 90px;
  }
  .panel h2 {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=home.267b0018ba8e.css.map */