@import url("https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url("/parallax/img/cover.png") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

footer {
  width: 100%;
  background-color: #222222;
  padding: 60px 0px;
  text-align: center;
}

.header {
  width: 100%;
  height: 150px;
  display: block;
  background-color: gray;
}

.inner-header {
  width: 100%;
  height: 100px;
  display: block;
  margin: 0 auto;
  background-color: #ed1d24;
}

.nav {
  margin: 0 auto;
  height: 100%;
  color: white;
}

.nav a {
  height: 100%;
  padding: 10px 40px;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 1.5em;
}

.footer {
  margin-left: 150px;
  height: 100%;
  color: white;
  text-align: center;
}

.footer nav a {
  height: 100%;
  font-family: 'Lexend Exa', sans-serif;
  font-size: 1em;
  margin-right: 100px;
}

.whitespace {
  height: 50px;
}

.bottom {
  height: 150px;
}

.sign {
  margin-top: 20px;
}

h1 {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 4vw;
  font-weight: bold;
}

h2 {
  font-family: 'Lexend Exa', sans-serif;
  color: white;
  font-size: 1vw;
}

img {
  width: 100%;
}

.logo-container {
  margin: 0 50%;
}

#logo {
  height: 100px;
  width: 100px;
}

.txt {
  position: relative;
}

.one {
  margin-top: 100px;
}

.two {
  margin-top: 200px;
  margin-left: 70%;
}

.three {
  margin-top: 150px;
  margin-left: -100px;
}

.text-1 {
  top: 200px;
  left: -100px;
}

.text-2 {
  z-index: 1;
  top: -450px;
  left: 450px;
}

.text-3 {
  z-index: 2;
  margin-left: 30%;
}

.text-4 {
  top: 200px;
  left: -100px;
}
/*# sourceMappingURL=parallax.css.map */