@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
* {
  margin-top: 10px;
  padding: 0;
  vertical-align: baseline;
  font-size: 100%;
}

body {
  background: #0E0E0E;
  font-family: 'Lexend Deca', sans-serif;
}

nav {
  text-align: center;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 90px;
  color: #ffffff;
}

p {
  font-size: 30px;
  color: #ffffff;
}

.header {
  margin: 30px;
}

.header img {
  height: 120px;
}

nav img {
  height: 100px;
}

.design {
  text-align: center;
  width: 100%;
}

.design img {
  margin: 1%;
  width: 70%;
  margin-top: 120px;
}

.web {
  text-align: center;
  width: 100%;
}

.web img {
  margin: 1%;
  width: 80%;
  margin-top: 120px;
}

.space {
  margin: 390px;
}

.space2 {
  margin: 250px;
}

footer p {
  text-align: center;
  font-size: 20px;
  color: grey;
  margin-top: 200px;
}

@media (max-width: 900px) {
  * {
    margin-top: 20px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 15px;
  }
  .space {
    margin: 70px;
  }
  .design img {
    margin: 1%;
    width: 90%;
    margin-top: 60px;
  }
}
/*# sourceMappingURL=portfolio.css.map */